* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
   }
   
   html {
      min-height: 100%;
      /* 1rem=1px */
      /* font-size: 100%; */
      

   }
   
   body {
      /* background-color: darkgrey; */
      font: border 2px;
   }
   
   
   
   .logo {
      width: 100%;
      /* height: 10%; */
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: top;
   }
   
   img{
      border: 0.5px solid ;
      margin-top: 10px;
      margin-bottom: 2px;
      /* background-color: #ffffff; */
      box-shadow: 0 0 3px 3px rgb(8,6,6,0.585);
      border-radius: 8px 40px 8px 40px;
     
   }
   
   .line {
      position: relative;
      top: 70px;
      width: 15em;
      margin: auto auto;
      border-right: 2px solid white;
      font-size: 270%;
      text-align: center;
      padding: 3px;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);
   
   }
   
   .anim-typewriter {
      animation: typewriter 4s steps(40) 1s 1 normal both,
         blinkTextCursor 0ms steps(40) infinite normal;
   }
   
   @keyframes typewriter {
      from {
         width: 0;
      }
   
      to {
         width: 17em;
      }
   }
   
   @keyframes blinkTextCursor {
      from {
         border-right-color: white;
      }
   
      to {
         border-right-color: transparent;
      }
   }
   #contact{
      margin: 60px;
      display: flex;
      align-items: center;
      margin-left: 280px;
   }
   #contact .box{
      border: 2px solid black;
      background-color: rgb(255 255 255);
      height: 290px;
      width: 300px;
      margin: 70px;
      margin-right: 20px;
      padding: 25px;
      border-radius: 20px;
      /* margin-left: 220px; */
      /* border-radius: 8px 40px 8px 40px; */
      /* box-sizing: content-box; */
      align-items: center;
      font-size: 14px;
   }
   .h-secondary {
      font-family: 'Baloo Bhai 2', cursive;
      padding:3px;
      margin: auto;
      text-align: center;
      align-items: center;
      /* font-size: 2rem; */
   }
   .center{
      text-align: center;
   }
   #contact p{
      font-size: 1rem;
   }
   p{
      text-align: center;
      padding: 8px;
   }
   .whatsapp_float {
      /* position: fixed; */
      position: absolute;
      width: 50px;
      height: 50px;
      bottom: 5px;
      margin: -5px;
      /* right: 40px; */
      margin-left: 785px;
      background-color: #25d366;
      color: #FFF;
      border-radius: 50px;
      text-align: center;
      font-size: 30px;
      box-shadow: 2px 2px 3px #999;
      z-index: 100;
   }
   
   .whatsapp2_float {
      /* position: fixed; */
      position: absolute;
      width: 50px;
      height: 50px;
      /* bottom: 110px; */
      /* right: 40px; */
      bottom: 5px;
      margin: -5px;
      margin-left: 400px;
      background-color: #25d366;
      color: #FFF;
      border-radius: 50px;
      text-align: center;
      font-size: 30px;
      box-shadow: 2px 2px 3px #999;
      z-index: 100;
   }
   
   .whatsapp-icon {
      margin-top: 12px;
      
   }
   
   .social {
      position: fixed;
      width: 50px;
      height: 50px;
      bottom: 180px;
      right: 40px;
      background-color: #0072b1;
      color: #FFF;
      border-radius: 10px;
      text-align: center;
      font-size: 40px;
      box-shadow: 2px 2px 3px #999;
      z-index: 100;
   }
   
   .linkedin-icon{
      color: white;  
   }
   .social1 {
      /* position: fixed;
      width: 50px;
      height: 50px;
      bottom: 130px;
      right: 40px;
      background-color: #0072b1;
      color: #FFF;
      border-radius: 10px;
      text-align: center;
      font-size: 40px;
      box-shadow: 2px 2px 3px #999;
      z-index: 100; */
      position: absolute;
      width: 50px;
      height: 50px;
      bottom: 5px;
      margin: -5px;
      margin-left: 470px;
      background-color: #0072b1;
      color: #FFF;
      border-radius: 10px;
      text-align: center;
      font-size: 33px;
      box-shadow: 1px 1px 2px #999;
      z-index: 100;
   }
   
   .linkedin-icon{
      color: white;  
   }
   .mail {
      position: fixed;
      width: 50px;
      height: 50px;
      bottom: 100px;
      right: 40px;
      background-color: whitesmoke;
      color:red;
      border-radius: 10px;
      text-align: center;
      font-size: 40px;
      box-shadow: 2px 2px 3px #999;
      z-index: 100;
   }

   .gmail-icon{
      color: rgb(189, 93, 109); 
   }
   .mail1 {
      position: absolute;
      width: 50px;
      height: 50px;
      bottom: 5px;
      margin: -5px;
      margin-left: 540px;
      background-color: whitesmoke;
      color:red;
      border-radius: 10px;
      text-align: center;
      font-size: 40px;
      box-shadow: 2px 2px 3px #999;
      z-index: 100;
   }

   .gmail-icon{
      color: rgb(189, 93, 109); 
   }
   .social2 {
   position: absolute;
   width: 50px;
   height: 50px;
   bottom: 5px;
   margin: -5px;
   margin-left: 860px;
   background-color: #0072b1;
   color: #FFF;
   border-radius: 10px;
   text-align: center;
   font-size: 33px;
   box-shadow: 1px 1px 2px #999;
   z-index: 100;
   }
   .mail2 {
      position: absolute;
      width: 50px;
      height: 50px;
      bottom: 5px;
      margin: -5px;
      margin-left: 930px;
      background-color: whitesmoke;
      color:red;
      border-radius: 10px;
      text-align: center;
      font-size: 40px;
      box-shadow: 2px 2px 3px #999;
      z-index: 100;
   }
   
   /* for mobile */
   @media screen and (max-width: 100px) {
      .whatsapp-icon {
         margin-top: 10px;
      }
   
      .whatsapp_float {
         width: 40px;
         height: 40px;
         bottom: 20px;
         right: 10px;
         font-size: 22px;
      }
   }
